body {
    width: 100%;
    margin: 0 auto;
}

form {

    display: flex;
    justify-content: center;
}

form label {
    display: block;
    text-align: center;

    height: 20%;
}


#markin {

}

#markout{
    border: solid; height: 600px;
}